@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper2{
	width:100%;
	margin: 0 auto;
}
.wrapper2 p a{
    text-decoration: none;
    text-decoration:solid;
    color: #3B5249;
    font-weight: bold;
}

header {
	height: 100px;
	background: #3B5249;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 27px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 2px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 1px;
	font-size: 17px;
	/* margin: 0 10px; */
	color: #fff;
}
nav a:nth-child(1), 
nav a:nth-child(2), 
nav a:nth-child(3){
	margin: 0 10px;
}
nav a:nth-child(3){
	border-right: 1px solid #f4f4f4;
	padding-right: 15px
}
nav a:hover{
	transition: all 100s;
	text-decoration: underline;
	text-underline-offset: 3px;
}
.content-area {
	width: 100%;
	position: relative;
	top: 100px;
	background: #ebebeb;
	height: 1490px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 1px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 15px 0px;
	font-family: poppins;
	line-height: 30px;
}

.btn{
    background-color: #3B5249;
    color: #fff;
    font-family: poppins;
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
	transition: all .4s;
}

.btn:hover{
    background-color: #2e3e38;
	width: 325px;
}

.links-banner{
	background-color: rgb(226, 226, 226);
}

/* formulario */

.container{
    top:35px;
    position:relative;
    left:50%;
    transform: translate(-50%);
    max-width: 1150px;
    width: 100%;
    background-color: #fff;
    padding: 45px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
      text-align: left;
    font-size: 25px;
    font-weight: bold;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #2e3e38, #3B5249);
  }

  .user-details{
      text-align: left;
      font-weight: bold;
  }

  .gender-details{
      text-align:left;
  }
  
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #59766b;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 70%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #59766b;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #384c45, #59766b);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #384c45, #59766b);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }

  .info-regis{
      padding-top:30px;
      font-size: 14px;
      background-color: rgb(248, 248, 248);
  }
  

/* footer */

footer{
    background: #3B5249;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .0,8s ease;
}

.socials a:hover {
    color: rgb(161, 168, 166) 
}

.footer-bottom{
    background: #374d44;
    width: 100%;
    padding: 1px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing:2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Barra de rolagem */

/* Fundo que corre */

::-webkit-scrollbar-track{
	background-color:#f4f4f4;
}

/* Fundo que corre */

::-webkit-scrollbar{
	width: 12px;
	background: #f4f4f4;
}

/* Linha que desce */

::-webkit-scrollbar-thumb{
	background:#2e3e38;
}








