<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato - PETFINDER</title>
  <link rel="stylesheet" href="contato.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../assets/image/logo.png">

</head>

<!-- NAVBAR -->

<body>
  <div class="box-area">
    <header>
      <div class="wrapper">
        <div class="logo">
          <a href="../../index.html">PETFINDER</a>
        </div>
        <nav>
          <a href="../../index.html">Início</a>
          <a href="../Sobre/sobre.html">Sobre</a>
          <a href="contato.html">Contato</a>
          <a href="#">Login</a> <!-- Separar Login e Cadastro-->
          <a href="#">Registro</a> <!-- Separar Login e Cadastro-->
        </nav>
      </div>
    </header>
  </div>

  <!--CONTEUDO DO SITE-->

  <div class="content-area">
    <div class="wrapper2">
      <h2>Fale com a gente!!</h2>
      <br><br>

      <!-- FORMULARIO-->

      <div class="container">
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Nome:</span>
                <input type="text" placeholder="Informe o seu nome" required>
              </div>

              <div class="input-box">
                <span class="details">Email:</span>
                <input type="email" placeholder="Informe o seu email" required>
              </div>

              <div class="input-box">
                <span class="details">Celular com DDD</span>
                <input type="text" placeholder="Informe seu número de telefone" required>
              </div>

              <div class="input-box">
                <span class="details">Mensagem:</span>
                <textarea id="texto" name="texto_usuario" placeholder="coloque sua duvida aqui" required></textarea>
              </div>
            </div>

            <div class="button">
              <form action="#" method="post" enctype="text/plain"></form>
              <input type="submit" value="Enviar">
            </div>
          </form>
        </div>
      </div> <br><br><br>

      <p class="links-banner">Ainda não efetuou o seu login? Clique <a href="login.html">aqui</a> para entrar em sua
        conta. <br>
        Ainda não é cadastrado em nosso site? Clique <a href="#">aqui</a> para se cadastrar.</p>
      </p>
    </div>
    <div class="register-pet">
      <h2> Seu pet sumiu? </h2>
      <p> Nos links abaixo você terá uma lista dos anúncios já criados, e também um link para criar um anúncio caso <br>
        tenha perdido o seu pet. </p>

      <div class="botao">
        <button class="btn" href="#"> Lista de pets perdidos! </button> <br><br>
        <button class="btn" href="#"> Criar anúncio para o seu pet! </button>
      </div><br><br><br><br>

      <!-- FOOTER  -->

      <footer>
        <div class="footer-content">
          <h3> petFinder </h3>
          <p> Nosso trabalho é te fazer encontrar o seu Pet, deixe seu feedback e tire dúvidas nas
            redes sociais.
          </p>
          <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>copyright &copy;2022 petFinder. designed by <span> JMPG's Group. </span></p>
        </div>
      </footer>

    </div>
  </div>
</body>

</html>